* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainsMonoNL Nerd Font Propo';
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.1;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(246, 246, 246, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#battery {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}


#cpu {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
} 

#network {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#memory {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#pulseaudio {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#playerctl {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#tray {
    border: 1px solid #ffffff;
    font-weight: bold;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #000000;
    color: #ffffff;
}

#idle_inhibitor {
    border: 1px solid #ffffff;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #000000;
}

#workspaces {
    border: 1px solid #ffffff;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #000000;
}

#window {
    border: 1px solid #ffffff;
    margin: 0 4px;
    padding: 0 10px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #000000;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

/* #battery.charging, #battery.plugged {
    color: #7067f2;
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
